<div class="wrapper">
  <%= render 'shared/greeting_wanko' %>
  <div class="form-wrapper">
    <div class="account-info-form">
      <%= form_for(:session, url: login_path) do |f| %>

        <%= f.email_field :email, :placeholder => "メールアドレス", class: 'form-control' %>

        <%= f.password_field :password, :placeholder => "パスワード", class: 'form-control' %>

        <%= f.submit "ログイン", class: "btn login-btn" %>
      <% end %>

       <small>既にアカウントをお持ちですか? <%= link_to "新規登録", root_path %></small>
    </div>
  </div>
</div>
