<h1>プロフィールを編集</h1>

<div class="wrapper">
  <div class="form-wrapper edit">
    <div class="account-info-form">
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>

        <%= f.text_field :name, :placeholder => "名前", class: 'form-control' %>

        <%= f.email_field :email, :placeholder => "メールアドレス", class: 'form-control' %>

        <%= f.password_field :password, :placeholder => "パスワード", class: 'form-control' %>

        <%= f.submit "保存", class: "btn save-btn" %>
      <% end %>
    </div>
  </div>
</div>
