<!DOCTYPE html>
<html>
<head>
  <title>Gatebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar">
    <div class="container">
      <%= link_to "Gatebook", '#', id: "logo" %>
    </div>
  </header>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
